<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="8.0.2" targetFramework="net46" />
  <package id="EnvDTE100" version="10.0.3" targetFramework="net46" />
  <package id="EnvDTE80" version="8.0.3" targetFramework="net46" />
  <package id="EnvDTE90" version="9.0.3" targetFramework="net46" />
  <package id="EnvDTE90a" version="9.0.3" targetFramework="net46" />
  <package id="Madskristensen.VisualStudio.SDK" version="15.0.75-pre" targetFramework="net46" />
  <package id="Microsoft.Build" version="15.1.548" targetFramework="net46" />
  <package id="Microsoft.Build.Framework" version="15.1.548" targetFramework="net46" />
  <package id="Microsoft.Build.Tasks.Core" version="15.1.548" targetFramework="net46" />
  <package id="Microsoft.Build.Utilities.Core" version="15.1.548" targetFramework="net46" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Composition" version="15.0.70" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Engine" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop" version="8.0.50729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.11.0" version="11.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.12.0" version="12.0.21006" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.14.0" version="14.3.25408" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21023" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Debugger.Metadata" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4323" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Editor" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Package.LanguageService.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.0.737" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.Managed" version="2.0.6142705" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK" version="15.0.737" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK.Tools" version="15.0.737" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.26" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.32" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Embeddable" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.0.DesignTime" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TaskRunnerExplorer.14.0" version="14.0.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.12.1.DesignTime" version="12.1.30330" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextTemplating.VSHost.15.0" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26228" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Web.BrowserLink.12.0" version="12.0.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Workspace.VSIntegration" version="15.0.215-pre" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Workspaces" version="15.0.215-pre" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="stdole" version="7.0.3302" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net46" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net46" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.11" targetFramework="net46" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net46" />
  <package id="VSLangProj" version="7.0.3301" targetFramework="net46" />
  <package id="VSLangProj100" version="10.0.30320" targetFramework="net46" />
  <package id="VSLangProj110" version="11.0.61031" targetFramework="net46" />
  <package id="VSLangProj140" version="14.0.25030" targetFramework="net46" />
  <package id="VSLangProj150" version="15.0.26229" targetFramework="net46" />
  <package id="VSLangProj2" version="7.0.5001" targetFramework="net46" />
  <package id="VSLangProj80" version="8.0.50728" targetFramework="net46" />
  <package id="VSLangProj90" version="9.0.30730" targetFramework="net46" />
</packages>